# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
flow-coverage
lib-cov
coverage/
.nyc_output

# Bundle
bundle
build
dist
target

#Docs
docs/
doc/

# Deps
node_modules/
jspm_packages/
typings/

#IDE
.idea
.idea/

.npm
.eslintcache
.node_repl_history
.env
