{
  "extends": "@istanbuljs/nyc-config-babel",
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "include": [
    "src/**/*.js"
  ],
  "cache": true,
  "all": true,
  "require": [
    "@babel/register",
    "flow-remove-types/register"
  ],
  "check-coverage": true
}